<h1 class="page-title"> How to use Tokimon Go </h1> 

<p class = "intro"> 
A Tokimon is a rare creature found in the remote areas of Korea. For the most part, they resemble rabitts and the only form of communication they have with us is the abilit to say their own name. Tokimons come in all shapes and sizes, have special abilities, and tend to fight with each other on occasion. Each Tokimon could have the ability to fly, fight, throw fire, spray water, electrify, and freeze other Tokimons; their ability is measured by an integer between 0 and 100. </p> 

<div class="guide-wrapper">
	<p class= "guide-style">Tokimon Go has two main pages, Tokimon and its trainer page. To go to each page, click options and choose your desired option ! <br> 

	Some general rule!
	<br><br> 
	1. No Tokimon are allowed to be 'free', that is, every Tokimons in Tokimon Go need to have a trainer, otherwise they go wild! And that's scary!
	<br><br> 
	2. Each Trainer starts as a level 1 trainer, if trainer catches enough Tokimon, then they will be awarded with level up! Generally, 3 Tokimons = 1 level. 
	<br><br>
	3. You can change attributes of the Tokimons, Tokimons have 6 skills: fight, fly, ice, fire, electric, and water. They also have some funky eating habit! Lastly, you are welcome to give the Tokimons you like a weapon so it can protect itself better!    
	<br><br>
	4. You can also change Trainers' attributes, each Trainers are unique! So, make sure you use description field to distinguish them! And our trainers can only be female or male, I know, I really apologize if you are confused with your gender. Lastly, training ground, That can be anywhere around the world! 

	5. Lastly, Make sure you have fun! And btw, if a Tokimon trainer quit or retire, Tokimons retire with them.... Sorry, tokimons are THAT faithful :( (But, they can change trainer...)
	</p>
</div>
