// Place all the styles related to the Trainers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Nova+Flat|Pacifico');

.train-header {
	padding: 30px;
	font-family: 'Pacifico', cursive;	
}

table{
	width:	95%;
}

th,td{
	font-family: 'Nova Flat', cursive;
	text-align: center;
	padding: 3px;
}

table, th, td{
	border: 1px solid black;
}


.create-train-wrapper {
	padding: 20px; 
	text-align: center
}

.create-train{
	border-radius: 30px;
	border-style: bold; 
	border-color: #6CAAF8;
	border-width: 5px;
	padding: 10px; 
	background-color: white;
	transition: background-color 0.2s ease-out;
}

.create-train:hover {
	background-color: gray;
}

.create-train:hover a {
	color: white;
}

.create-train a{
	color: #396FB3;
	font-family: 'Nova Flat', cursive;
	font-size: 20px; 	
}

.page-title {
	padding: 30px;
	font-family: 'Pacifico', cursive;	
}

.edit-form {
	padding-left: 50px;
	color: #000;
	font-family: 'Nova Flat', cursive;
	font-size: 20px; 	
}