<h1 class="page-title">Editing Tokimon</h1>

<div class="edit-form">
	<%= render 'form' %>
</div>	

<div class="white-button-wrapper">
  <span class= "white-button">
	<%= link_to 'Show', @tokimon %>
  </span> 
  <span class= "white-button">
	<%= link_to 'Back', tokimons_path %>
  </span>
</div>
