<h1 class="page-title">Editing Trainer</h1>

<div class="edit-form">
	<%= render 'form' %>
</div>	

<div class="white-button-wrapper">
  <span class= "white-button">
    <%= link_to 'Show', @trainer %> 
  </span> 
  <span class= "white-button">
    <%= link_to 'Back', trainers_path %>
  </span>
</div>